<div class="bg-secPlano" ng-click="closeModalItens();"></div>
<div class="modal modalTpCadastro">
   <div class="ps-modal-area">
       
       <div class="bar bar-header bar-stable">
          <h1 class="title lnHeig1_9">Opções</h1>
       </div>
       
       <div class="ps-modal-content">
          <div class="row">
            <button class="button button-clear button-dark" ng-click="closeModalItens(); openModalQtd()">Alterar quantidade</button>
           </div>
           <div class="row">
            <button class="button button-clear button-dark" ng-click="closeModalItens(); excluiItem()">Excluir</button>
           </div>
       </div>
       
       <div class="ps-modal-confCanc">
          <button class="button button-clear button-dark" ng-click="closeModalItens()">Cancelar</button>
       </div>
   </div>
</div>