<ion-view title="Selecionar Produtos">
    
    <ion-nav-buttons side="right">
		<button menu-toggle="right" class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()"></button>
		<button menu-toggle="right" class="button button-icon icon ion-ios-checkmark-empty" ng-click="addItens()"></button>
    </ion-nav-buttons>
    
    
   <ion-content has-header="true" class="hasPaddingTop">
        <ion-list>
            <ion-item ng-repeat="produto in produtos | limitTo: qtdItens" ng-click="addProduto(produto, $index);openModal(prd)">
                <h2>{{ produto[0] }}</h2>
                <p style="width: 50%; float: left;">{{ produto[1] }} {{ produto[4] | currency:"R$ " }}</p>
                <p style="width: 50%; float: left; text-align: right;">Ref.: {{ produto[3] }}</p>
            </ion-item>
        </ion-list>

        <ion-infinite-scroll on-infinite="loadMore()" distance="5%">
        </ion-infinite-scroll>
   </ion-content>
</ion-view>