<div class="bg-secPlano" ng-click="closeModalQtd();"></div>
<div class="modal modalFiltroData">
    <div class="ps-modal-area">

        <div class="bar bar-header bar-stable">
            <h1 class="title lnHeig1_9">{{itemEditSel[2]}}</h1>
        </div>

        <div class="ps-modal-content">
            <label class="item item-input">
                <input type="number" placeholder="Quantidade" ng-model="quantidade">
            </label>
        </div>
        
        <div class="ps-modal-confCanc">
            <button class="button button-clear button-dark" ng-click="closeModalQtd();">Cancelar</button>
            <button class="button button-clear button-dark" ng-click="closeModalQtd(); alteraQtdItem(quantidade);">Ok</button>
        </div>
    </div>
</div>