<div class="bg-secPlano" ng-click="closeModal();"></div>
<div class="modal modalFiltroData">
   <div class="ps-modal-area">
       
       <div class="bar bar-header bar-stable">
          <h1 class="title lnHeig1_9">Filtrar por data</h1>
       </div>
       
       <div class="ps-modal-content">
           <label class="item item-input">
              <span class="input-label">De</span>
              <input type="date" ng-model="dataDe" />
            </label>
           <label class="item item-input">
              <span class="input-label">Até</span>
              <input type="date" ng-model="dataAte" />
            </label>
       </div>
       
       <div class="ps-modal-confCanc">
          <button class="button button-clear button-dark ftLeft" ng-click="resetaFiltro();dataDe=null;dataAte=null">Resetar</button>
          <button class="button button-clear button-dark ftRight" ng-click="closeModal()">Cancelar</button>
          <button class="button button-clear button-dark ftRight" ng-click="filtrarPorData(dataDe, dataAte)">Ok</button>
       </div>
   </div>
</div>