<div class="bg-secPlano" ng-click="closeModal()"></div>
<div class="modal modalTpCadastro">
   <div class="ps-modal-area">
       
       <div class="ps-modal-content">
          <div class="row">
              <h5 style="text-align: center; width: 100%;">{{ mensagemModalSimples }}</h5>
           </div>
       </div>
       
       <div class="ps-modal-confCanc">
          <button class="button button-clear button-dark" ng-click="closeModal()">{{ botaoModalSimples }}</button>
       </div>
   </div>
</div>