<ion-view class="wordpress-view">

	<ion-nav-buttons side="right">
		<button menu-toggle="right" class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()"></button>
		<button menu-toggle="right" class="button button-icon icon ion-ios-plus-empty" ng-click="openModal()"></button>
	</ion-nav-buttons>
    
    <ion-nav-title>
        <span>Configurações</span>
    </ion-nav-title>
    <ion-content>
        
        <div class="list">
          <div class="item" ng-click="modalSincronizacao.show()">
	         <h2>Frequência da Sincronização</h2>
	         <p>Somente manual</p>
	      </div>
          <div class="item" ng-click="modalListarPedidos.show()">
	         <h2>Listar Pedidos</h2>
	         <p>{{situacaoListarPedidos}}</p>
	      </div>
          <div class="item">
	         <h2>Ultima Sincronização</h2>
	         <p>{{date | date:'dd/MM/yyyy HH:mm:ss'}}</p>
	      </div>
<!--
          <div class="item" ng-click="limparDB()">
	         <h2>Deletar Dados</h2>
	         <p>Deleta todos os dados do aplicativo</p>
	      </div>
-->
       </div>
        
    </ion-content>
</ion-view>