<ion-view class="wordpress-view">

    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-ios-search" ng-click="showFilterBar()"></button>
    </ion-nav-buttons>

    <ion-nav-title>
        <span>Produtos</span>
    </ion-nav-title>
    <ion-content>
        
        <div class="row" ng-hide="produtos.length>0">
            <h5 style="text-align: center; width: 100%;">Nenhum produto encontrado</h5>
        </div>
        
        <ion-list>
            <ion-item ng-repeat="produto in produtos | limitTo: qtdItens">
                <h2>{{ produto[0] }}</h2>
                <p>{{ produto[1] }}</p>
            </ion-item>
        </ion-list>

        <ion-infinite-scroll on-infinite="loadMore()" distance="5%">
        </ion-infinite-scroll>
        
    </ion-content>
</ion-view>