<div class="bg-secPlano" ng-click="modalEmail.hide()"></div>
<ion-modal-view class="modalNormal">
    <ion-header-bar class="bar-stable">
        <h1 class="title lnHeig1_9">Adicionar E-mail</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Descrição</span>
                <input type="text" placeholder="Descrição" ng-model="em.descricao">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">E-mail</span>
                <input type="email" placeholder="E-mail" ng-model="em.email">
            </label>
        </div>
        
        <div style="height: 38px;">
            <div class="ps-modal-confCanc">
                <button class="button button-clear button-dark" ng-click="modalEmail.hide()">Cancelar</button>
                <button class="button button-clear button-dark" ng-click="addEml()">Adicionar</button>
            </div>
        </div>
    </ion-content>
</ion-modal-view>