<div class="bg-secPlano" ng-click="modalEndereco.hide()"></div>
<ion-modal-view class="modalNormal">
    <ion-header-bar class="bar-stable">
        <h1 class="title lnHeig1_9">Adicionar endereço</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">

            <label class="item item-input item-select">
                <div class="input-label">
                    Tipo
                </div>
                <select ng-model="tpDefault" ng-change="mudaTipoEnd(tpDefault)" ng-options="obj.valor as obj.desc for obj in tiposEnderecos">
                    <option value="">Selecionar</option>
                </select>
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Cep</span>
                <input type="tel" placeholder="Cep" ui-mask-placeholder ng-model="end.cep" ui-mask="99.999-999">
            </label>
            
            <label class="item item-input item-floating-label">
                <span class="input-label">Estado</span>
                <input type="text" placeholder="Estado" ng-model="end.estado">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Cidade</span>
                <input type="text" placeholder="Cidade" ng-model="end.cidade">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Bairro</span>
                <input type="text" placeholder="Bairro" ng-model="end.bairro">
            </label>
            
            <label class="item item-input item-floating-label">
                <span class="input-label">Número</span>
                <input type="number" placeholder="Número" ng-model="end.numero">
            </label>
            
            <label class="item item-input item-floating-label">
                <span class="input-label">Complemento</span>
                <input type="tel" placeholder="Complemento" ng-model="end.complemento">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Logradouro</span>
                <input type="text" placeholder="Logradouro" ng-model="end.logradouro">
            </label>
        </div>
        <div style="height: 38px;">
            <div class="ps-modal-confCanc">
                <button class="button button-clear button-dark" ng-click="modalEndereco.hide()">Cancelar</button>
                <button class="button button-clear button-dark" ng-click="addEnd()">Adicionar</button>
            </div>
        </div>
    </ion-content>
</ion-modal-view>