<div class="bg-secPlano" ng-click="modalNumero.hide()"></div>
<ion-modal-view class="modalNormal">
    <ion-header-bar class="bar-stable">
        <h1 class="title lnHeig1_9">Adicionar telefone</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            
            <label class="item item-input item-select">
                <div class="input-label">
                    Tipo
                </div>
                <select ng-model="tipoDefault" ng-change="mudaTipo(tipoDefault)" ng-options="obj.valor as obj.desc for obj in tiposTelefones">
                    <option value="">Selecionar</option>
                </select>
            </label>
            
            <label class="item item-input item-floating-label">
                <span class="input-label">Descrição</span>
                <input type="text" placeholder="Descrição" ng-model="tel.descricao">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">(DDD) Telefone</span>
                <input type="tel" placeholder="(DDD) Número" ui-mask-placeholder ng-model="tel.numero" ui-mask="(999) 9999-9999?9">
            </label>
        </div>
        <div style="height: 38px;">
            <div class="ps-modal-confCanc">
                <button class="button button-clear button-dark" ng-click="modalNumero.hide()">Cancelar</button>
                <button class="button button-clear button-dark" ng-click="addNro()">Adicionar</button>
            </div>
        </div>
    </ion-content>
</ion-modal-view>