<div class="bg-secPlano" ng-click="modalSincronizacao.hide()"></div>
<ion-modal-view class="modalNormal">
    <ion-header-bar class="bar-stable">
      <h1 class="title lnHeig1_9">Frequência da Sincronização</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
          <label class="item item-radio" ng-click="modalSincronizacao.hide()">
            <input type="radio" name="group">
            <div class="item-content">
              15 min
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
          <label class="item item-radio" ng-click="modalSincronizacao.hide()">
            <input type="radio" name="group">
            <div class="item-content">
              30 min
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
          <label class="item item-radio" ng-click="modalSincronizacao.hide()">
            <input type="radio" name="group">
            <div class="item-content">
              1 hora
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
          <label class="item item-radio" ng-click="modalSincronizacao.hide()">
            <input type="radio" name="group">
            <div class="item-content">
              12 horas
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
          <label class="item item-radio" ng-click="modalSincronizacao.hide()">
            <input type="radio" name="group">
            <div class="item-content">
              24 horas
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
          <label class="item item-radio" ng-click="modalSincronizacao.hide()">
            <input type="radio" name="group" checked>
            <div class="item-content">
              Somente manual
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
        </div>
    </ion-content>
</ion-modal-view>