<div class="bg-secPlano" ng-click="modalListarPedidos.hide()"></div>
<ion-modal-view class="modalNormal">
    <ion-header-bar class="bar-stable">
      <h1 class="title lnHeig1_9">Listar Pedidos</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
          <label class="item item-radio" ng-click="listarPedidos(1); modalListarPedidos.hide()">
            <input type="radio" name="group" ng-checked="$localStorage.qtListaPedidos === 1">
            <div class="item-content">
              Últimos 30 dias
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
          <label class="item item-radio" ng-click="listarPedidos(3); modalListarPedidos.hide()">
            <input type="radio" name="group" ng-checked="$localStorage.qtListaPedidos === 3">
            <div class="item-content">
              Últimos 3 meses
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
          <label class="item item-radio" ng-click="listarPedidos(6); modalListarPedidos.hide()">
            <input type="radio" name="group" ng-checked="$localStorage.qtListaPedidos === 6">
            <div class="item-content">
              Últimos 6 meses
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
          <label class="item item-radio" ng-click="listarPedidos(0); modalListarPedidos.hide()">
            <input type="radio" name="group" ng-checked="$localStorage.qtListaPedidos == null || $localStorage.qtListaPedidos == undefined">
            <div class="item-content">
              Todos
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
        </div>
    </ion-content>
</ion-modal-view>