<ion-view>

    <ion-nav-title>
        <span>Alimentação</span>
    </ion-nav-title>

    <ion-nav-buttons side="right">
        <button menu-toggle="right" style="color: #fff;" class="button button-icon icon ion-ios-plus-empty la-search" ng-click="addAlimentoTp2()"></button>
    </ion-nav-buttons>

    <div class="e-plus">
        <a class="e-icon" ng-click="addAlimentoTp1()">
            <i class="icon ion-android-add"></i>
        </a>
    </div>

    <ion-content>
        
        <div class="al-topo">
            <i class="ion-arrow-left-b" ng-click="setaDataTopo('-')"></i>
            <span ng-bind="dataTopo"></span>
            <i class="ion-arrow-right-b" ng-click="setaDataTopo('+')"></i>
        </div>
        
        <div style="padding: 0px 15px 15px 15px;">
            
            <div class="rc-titulo" style="display:none;">
                <h5>Total</h5>
                <span>Calorias - <strong>1348 cal</strong></span>
            </div>
            
            <table class="al-listaAlimentos">
                <tr ng-repeat="ha in historicoAlimentos">
                    <td>- {{ha[0]}}</td>
                    <td>{{ha[1]}}</td>
                </tr>
            </table>
            
            <div style="width: 100%; text-align: center; color: #777; font-size: 13px;" ng-if="historicoAlimentos.length === 0">
                Clique no ícone '+' para cadastrar alimentos.
            </div>
            
        </div>
        
    </ion-content>
</ion-view>