<ion-view>

    <ion-nav-title>
        <span>Nutrative</span>
    </ion-nav-title>

    <div class="e-plus" ng-hide="tabSel > 5">
        <a class="e-icon" ng-click="adicionarAlimento()">
            <i class="icon ion-android-add"></i>
        </a>
    </div>

    <ion-content style="padding: 15px;">
        
        <div class="hm-resumoDiario">
            
            <h5>Resumo Diário</h5>

            <table class="tb-home">
                <tr>
                    <th><span class="ftLeft">Calorias diárias</span></th>
                    <th><span class="ftRight">Calorias Restantes</span></th>
                </tr>
                <tr>
                    <td><span class="ftLeft">{{calDiariaTotal}} cal</span></td>
                    <td><span class="ftRight">{{calRestantesDia}} cal</span></td>
                </tr>
                <tr>
                    <th class="pdT6"><span class="ftLeft">IMC</span></th>
                </tr>
                <tr>
                    <td><span class="ftLeft">{{imc}} ({{msgImc}})</span></td>
                </tr>
            </table>

            <h5>Cálculo de TMB</h5>

            <table class="tb-home">
                <tr>
                    <th><span class="ftLeft">Metabolismo base</span></th>
                    <th><span class="ftRight">Calorias para manter o peso</span></th>
                </tr>
                <tr>
                    <td><span class="ftLeft">{{tmb}} cal</span></td>
                    <td><span class="ftRight">{{calManterPeso}} cal</span></td>
                </tr>
                <tr>
                    <th class="pdT6"><span class="ftLeft">Calorias para emagrecer</span></th>
                    <th class="pdT6"><span class="ftRight">Calorias para engordar</span></th>
                </tr>
                <tr>
                    <td><span class="ftLeft">{{calEmagrecer}} cal</span></td>
                    <td><span class="ftRight">{{calEngordar}} cal</span></td>
                </tr>
            </table>
            
        </div>
        
        <div class="hm-atualizacoes">
            <h4>Últimas atualizações</h4>
            
            <div class="hm-noticia">
                <h5>A importância da alimentação balanceada. A importância da alimentação balanceada.</h5>
                <span>Thiago Naud</span>
                <span> - </span>
                <span>16/05/2016</span>
                <p>Hoje vamos ver a importancia da alimentação em inglês pa só os bons entende. Cell padding specifies the space between the cell content and its borders. If you do not specify a padding, the table cells will be displayed without padding. To set the padding, use the CSS padding property. Table headings are defined with the tag. By default, all major browsers display table headings as bold and centered...
                </p>
                <a ui-sref="#">Visualizar</a>
            </div>
            
            <div class="hm-noticia">
                <h5>A importância da alimentação balanceada.</h5>
                <span>Thiago Naud</span>
                <span> - </span>
                <span>16/05/2016</span>
                <p>Hoje vamos ver a importancia da alimentação em inglês pa só os bons entende. Cell padding specifies the space between the cell content and its borders. If you do not specify a padding, the table cells will be displayed without padding. To set the padding, use the CSS padding property. Table headings are defined with the tag. By default, all major browsers display table headings as bold and centered...
                </p>
                <a ui-sref="#">Visualizar</a>
            </div>
        </div>

    </ion-content>
</ion-view>