<ion-view>

    <ion-nav-title>
        <span>Nutrative</span>
    </ion-nav-title>

    <div class="e-plus" ng-hide="tabSel > 5">
        <a class="e-icon" ng-click="adicionarAlimento()">
            <i class="icon ion-android-add"></i>
        </a>
    </div>

    <ion-content style="padding: 15px;">

        <h5>Calorias diárias</h5><span>1300 cal</span>
        
        <h5>Calorias Restantes</h5><span>890 cal</span>

        <h5>IMC </h5><span>21 (Peso ideal)</span>

        <h4>TMB</h4>

        <h5>Metabolismo base </h5><span>1613 cal</span>

        <h5>Calorias necessárias para manter o peso </h5><span>1936 cal</span>

        <h5>Calorias indicadas para emagrecer </h5><span>1646 cal</span>

        <h5>Calorias indicadas para engordar </h5><span>2226 cal</span>

    </ion-content>
</ion-view>