<div class="bg-secPlano" ng-click="closeModal()"></div>
<div class="modal modalTpCadastro">
   <div class="ps-modal-area">
       <h5 style="margin-left: 10px;">{{ nomeAlimentoModal }}</h5>
       <div class="maa-alimento">
          <span style="white-space: nowrap;" class="input-label">Quantidade (gramas)</span>
          <input style="width: 100%;" type="number" placeholder="Quantidade" ng-model="quantidadeAlimento">
       </div>
       
       <div class="ps-modal-confCanc">
          <button class="button button-clear button-dark" style="margin-bottom: 6px;" ng-click="adicionaHistoricoAlimento(quantidadeAlimento)">Adicionar</button>
       </div>
   </div>
</div>