<ion-view>

    <ion-nav-title>
        <span>Dieta</span>
    </ion-nav-title>

    <div class="e-plus">
        <a class="e-icon" ng-click="addAlimentoTp1()">
            <i class="icon ion-android-add"></i>
        </a>
    </div>

    <ion-content style="padding: 0px 15px;">
        
        <div class="rc-titulo">
            <h5>Manhã</h5>
            <span style="display: none;">Calorias - <strong>400 cal</strong></span>
        </div>
        
        <table class="rc-listaAlimentos">
            <tr ng-repeat="a in manha">
                <td>- {{a[4]}}</td>
                <td style="display: none;">200g</td>
                <td style="display: none;">150 cal</td>
                <td style="display: none;"><i class="ion-arrow-swap"></i></td>
            </tr>
        </table>
        
        <div class="rc-titulo">
            <h5>Almoço</h5>
            <span style="display: none;">Calorias - <strong>500 cal</strong></span>
        </div>
        
        <table class="rc-listaAlimentos">
            <tr ng-repeat="a in almoco">
                <td>- {{a[4]}}</td>
                <td style="display: none;">200g</td>
                <td style="display: none;">150 cal</td>
                <td style="display: none;"><i class="ion-arrow-swap"></i></td>
            </tr>
        </table>
        
        <div class="rc-titulo">
            <h5>Lanche</h5>
            <span style="display: none;">Calorias - <strong>100 cal</strong></span>
        </div>
        
        <table class="rc-listaAlimentos">
            <tr ng-repeat="a in lanche">
                <td>- {{a[4]}}</td>
                <td style="display: none;">200g</td>
                <td style="display: none;">100 cal</td>
                <td style="display: none;"><i class="ion-arrow-swap"></i></td>
            </tr>
        </table>
        
        <div class="rc-titulo">
            <h5>Janta</h5>
            <span style="display: none;">Calorias - <strong>300 cal</strong></span>
        </div>
        
        <table class="rc-listaAlimentos">
            <tr ng-repeat="a in janta">
                <td>- {{a[4]}}</td>
                <td style="display: none;">200g</td>
                <td style="display: none;">150 cal</td>
                <td style="display: none;"><i class="ion-arrow-swap"></i></td>
            </tr>
        </table>

    </ion-content>
</ion-view>