<ion-view>

    <ion-nav-title>
        <span>Receita</span>
    </ion-nav-title>

    <div class="e-plus">
        <a class="e-icon" ng-click="adicionarAlimento()">
            <i class="icon ion-android-add"></i>
        </a>
    </div>

    <ion-content style="padding: 0px 15px;">
        
        <div class="rc-titulo">
            <h5>Manhã</h5>
            <span>Calorias - <strong>400 cal</strong></span>
        </div>
        
        <table class="rc-listaAlimentos">
            <tr>
                <td>- Pão de ló</td>
                <td>200g</td>
                <td>150 cal</td>
                <td><i class="ion-arrow-swap"></i></td>
            </tr>
            <tr>
                <td>- Ovo de codorna</td>
                <td>40g</td>
                <td>100 cal</td>
                <td><i class="ion-arrow-swap"></i></td>
            </tr>
            <tr>
                <td>- Leite com chocolate</td>
                <td>100g</td>
                <td>150 cal</td>
                <td><i class="ion-arrow-swap"></i></td>
            </tr>
        </table>
        
        <div class="rc-titulo">
            <h5>Almoço</h5>
            <span>Calorias - <strong>500 cal</strong></span>
        </div>
        
        <table class="rc-listaAlimentos">
            <tr>
                <td>- Feijão</td>
                <td>200g</td>
                <td>150 cal</td>
                <td><i class="ion-arrow-swap"></i></td>
            </tr>
            <tr>
                <td>- Arroz</td>
                <td>40g</td>
                <td>100 cal</td>
                <td><i class="ion-arrow-swap"></i></td>
            </tr>
            <tr>
                <td>- Bacon frito</td>
                <td>100g</td>
                <td>150 cal</td>
                <td><i class="ion-arrow-swap"></i></td>
            </tr>
            <tr>
                <td>- Brócolis</td>
                <td>50g</td>
                <td>50 cal</td>
                <td><i class="ion-arrow-swap"></i></td>
            </tr>
            <tr>
                <td>- Alface</td>
                <td>50g</td>
                <td>50 cal</td>
                <td><i class="ion-arrow-swap"></i></td>
            </tr>
        </table>
        
        <div class="rc-titulo">
            <h5>Lanche</h5>
            <span>Calorias - <strong>100 cal</strong></span>
        </div>
        
        <table class="rc-listaAlimentos">
            <tr>
                <td>- Maça</td>
                <td>200g</td>
                <td>100 cal</td>
                <td><i class="ion-arrow-swap"></i></td>
            </tr>
        </table>
        
        <div class="rc-titulo">
            <h5>Janta</h5>
            <span>Calorias - <strong>300 cal</strong></span>
        </div>
        
        <table class="rc-listaAlimentos">
            <tr>
                <td>- Sopa de ervilha</td>
                <td>200g</td>
                <td>150 cal</td>
                <td><i class="ion-arrow-swap"></i></td>
            </tr>
            <tr>
                <td>- Bolo de chuva</td>
                <td>300g</td>
                <td>150 cal</td>
                <td><i class="ion-arrow-swap"></i></td>
            </tr>
        </table>

    </ion-content>
</ion-view>