<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content class="post-size-14px">
        <ion-nav-bar class="bar app-top-bar">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" class="main-menu" expose-aside-when="large">

        <ion-content>



            <ion-list>
                <ion-item class="nmSideMenu item" nav-clear menu-close ui-sref="persistt.home">
                    <h2 class="greeting">{{nomeUsu}}</h2>
                    <p class="message">Bem vindo!</p>
                </ion-item>

                <ion-item class="sm-calendario item" >
                    <h2 align="center">Calendário</h2>

                    <div class="dataAtualMiniCalendario" align="center">
                        <span ng-click="setaDataMiniCal()" ng-bind="dataMiniCal"></span>
                    </div>

                    <table class="miniCalendario" on-swipe-left="alteraDataMiniCal('aumentar')" on-swipe-right="alteraDataMiniCal('diminuir')">
                        <thead>
                            <tr>
                                <th><strong>D</strong></th>
                                <th><strong>S</strong></th>
                                <th><strong>T</strong></th>
                                <th><strong>Q</strong></th>
                                <th><strong>Q</strong></th>
                                <th><strong>S</strong></th>
                                <th><strong>S</strong></th>
                            </tr>
                        </thead>
                        <tbody ng-bind-html="corpoMiniCalendario | html"></tbody>
                    </table>

                </ion-item>

                <ion-item class="item-icon-left" nav-clear menu-close ui-sref="#">
                    <i class="icon ion-home"></i>
                    <h2 class="menu-text">Início</h2>
                </ion-item>
                <ion-item class="item-icon-left" nav-clear menu-close ui-sref="#">
                    <i class="icon ion-ios-list"></i>
                    <h2 class="menu-text">Receita</h2>
                </ion-item>
                <ion-item class="item-icon-left" nav-clear menu-close ui-sref="#">
                    <i class="icon ion-fork"></i>
                    <h2 class="menu-text">Alimentação</h2>
                </ion-item>
                <ion-item class="item-icon-left" nav-clear menu-close ui-sref="#">
                    <i class="icon ion-gear-a"></i>
                    <h2 class="menu-text">Configuraçoes</h2>
                </ion-item>
                <ion-item class="item-icon-left" nav-clear menu-close ui-sref="auth.login" ng-click="logout()">
                    <i class="icon ion-log-out"></i>
                    <h2 class="menu-text">Sair</h2>
                </ion-item>

            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>